<app-header></app-header>
<section>
  <div class="about-text-content">
    <div class="heading">
      <h2>About Investa</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Molestiae eaque ducimus ad odio odit amet consequuntur, eos obcaecati aliquid cupiditate voluptatum ab ipsa,
        nisi id quo eveniet cum maiores repellat porro blanditiis dicta laudantium voluptas libero illo?
        Perspiciatis placeat fuga et voluptatum, sapiente similique, magni atque illo architecto sequi a sed?
        Nihil, velit rem. Quibusdam ullam ipsam consequuntur exercitationem atque dolor magni rerum fugit.
        Voluptatem molestiae neque veritatis corporis quidem aspernatur,
        dolorem provident sequi cum, labore repudiandae asperiores corrupti autem.</p>
    </div>
    <div class="about-sub-heading">
      <div class="content">
        <h3>We connect</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Alias corporis voluptatibus blanditiis omnis dolorem tempore, doloremque nostrum velit laudantium? Dolore!</p>
      </div>
      <div class="content">
       <h3>We Groom</h3>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Alias corporis voluptatibus blanditiis omnis dolorem tempore, doloremque nostrum velit laudantium? Dolore!</p>
     </div>
    </div>
  </div>
</section>
