<footer class="footer">
    <div class="contact-us">
        <img src="../../../assets/images/big-logo.png" alt="" class="support">
        <div class="contact-wrapper">
        <p>Ready To Do This</p>
        <h4>Let's get to work</h4>
        <a href="/contact" class="contact-us-link">Contact US</a>
    </div>
    </div>
    <div class="quicklinks">
        <div class="quicklinks-wrapper">
        <div class="container">
            <ul class="link">
            <h5>Quick Links</h5>
            <li><a href="">SME</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Register</a></li>
        </ul>
        <ul class="hello">
                <h5>Say Hello</h5>
                <li>Email: <a href="#">info@investa.co</a></li>
                <li>Support: <a href="#">care@investa.co</a></li>
                <li>Phone: <a href="#">+234806567788</a></li>
            </ul>
        </div>

        <p class="copy">
            Copyright © 2020 Investa. All Rights Reserved.
        </p>
    </div>
    </div>

</footer>
