<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-inverse">
      <div class="site-small-title">
        <h6> <a class="nav-link"
         [routerLink]="['/']"
         routerLinkActive="active"><img src="../../../assets/images/small-investa.svg" alt="" srcset=""></a>
        </h6>
        <button (click)="menu = !menu" class="toggle">{{menu ?' &times;' : '&#9776;'}}</button>
      </div>

      
      <ul class="navbar-nav desktop">
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['/about']"
        routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['/contact']"
        routerLinkActive="active">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['/login']"
        routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['/register']"
        routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['/FAQ']"
        routerLinkActive="active">FAQ</a>
      </li>
</ul>
<ul class="navbar-nav mobile" *ngIf="menu" [@inOutAnimation]>
  <li class="nav-item">
    <a class="nav-link"
    [routerLink]="['/about']"
    routerLinkActive="active">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    [routerLink]="['/contact']"
    routerLinkActive="active">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    [routerLink]="['/login']"
    routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    [routerLink]="['/register']"
    routerLinkActive="active">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    [routerLink]="['/FAQ']"
    routerLinkActive="active">FAQ</a>
  </li>
</ul>
</nav>
</header>
