<section class="beneficiaries">
  <div class="heading-section">
    <h2>Beneficiaries</h2>
    <p>Inveseta has helped the follwing companies raise money in the past one month and still counting </p>
  </div>
  <div class="items-container">
    <div class="card">
      <div class="card-content">
        <div class="heading">
          <h4 class="company">Facebook</h4>
          <img src="../../../assets/images/insta.png" alt="" class="thumb">
       </div>
        <h3>Raised $300,000</h3>
        <p>One of the fastest growing startup in education raised $300,00 in one month</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="heading">
           <h4 class="company">Twitter</h4>
           <img src="../../../assets/images/insta.png" alt="" class="thumb">
        </div>
        <h3>Raised $300,000</h3>
        <p>One of the fastest growing startup in FinTech raised $300,00 in one month</p>
      </div>
    </div>
 
    <div class="card">
      <div class="card-content">
        <div class="heading">
          <h4 class="company">Instagram</h4>
          <img src="../../../assets/images/insta.png" alt="" class="thumb">
       </div>
        <h3>Raised $300,000</h3>
        <p>One of the fastest growing startup in Tech raised $300,00 in one month</p>
      </div>
    </div>

  <div class="card">
    <div class="card-content">
      <div class="heading">
        <h4 class="company">Flutter Wave</h4>
        <img src="../../../assets/images/insta.png" alt="" class="thumb">
     </div>
      <h3>Raised $300,000</h3>
      <p>One of the fastest growing startup in FinTech raised $300,00 in one month</p>
    </div>
  </div>
</div>
</section>