
  <section class="hero">
    <div class="hero-cover">
    <div class="hero-text">
      <div class="text-content">
        <h1 class="site-large-title">Investa</h1>
      <h2>Connecting SMEs and Investors</h2>
      
      </div>
      <div class="dashboard-image">
        <img src="../../../assets/images/dashboard.png" alt="" srcset="">
      </div>
    </div>
    <div class="hero-icon-sections">
        <div class="icon-container">
          <img src="../../../assets/images/sme (2).svg" alt="" srcset="">
            <h3>Investa</h3>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>           
        </div>
        <div class="icon-container">
              <img src="../../../assets/images/sme.svg" alt="" srcset="">
            <h3>SME</h3>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>           
        </div>
        <div class="icon-container">
          <img src="../../../assets/images/investors.svg" alt="" srcset="">
            <h3>Investor</h3>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>           
        </div>
    </div>
    </div>
  </section>
  <section class="about">
   <div class="section-container">
     <div class="about-image">
       <img src="../../../assets/images/grow.png" alt="about investa" srcset="">
     </div>
     <div class="about-text-content">
       <div class="heading">
         <h2>About Investa</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Molestiae eaque ducimus ad odio odit amet consequuntur, eos obcaecati aliquid cupiditate voluptatum ab ipsa, 
           nisi id quo eveniet cum maiores repellat porro blanditiis dicta laudantium voluptas libero illo? 
           Perspiciatis placeat fuga et voluptatum, sapiente similique, magni atque illo architecto sequi a sed? 
           Nihil, velit rem. Quibusdam ullam ipsam consequuntur exercitationem atque dolor magni rerum fugit. 
           Voluptatem molestiae neque veritatis corporis quidem aspernatur, 
           dolorem provident sequi cum, labore repudiandae asperiores corrupti autem.</p>
       </div>
       <div class="about-sub-heading">
         <div class="content">
           <h3>We connect</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
             Alias corporis voluptatibus blanditiis omnis dolorem tempore, doloremque nostrum velit laudantium? Dolore!</p>
         </div>
         <div class="content">
          <h3>We Groom</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Alias corporis voluptatibus blanditiis omnis dolorem tempore, doloremque nostrum velit laudantium? Dolore!</p>
        </div>
       </div>
     </div>
   </div>
  </section>
