<section>
  <app-header></app-header>
  <div class="container-404">
 
  <div class="page-content">
    <p>You have succesfully Verified your account with <strong>{{code}}</strong> . Login to edit your profile and do more with your account</p>
    <a href="/login">Login</a>
  </div>


   <div class="patterns">
     <img src="../../../assets/images/pattern-left.svg" alt="" srcset="" class="left-image">
     <img src="../../../assets/images/pattern-right.svg" alt="" srcset="" class="right-image">
   </div> 
  </div>

 <app-footer>
  
</app-footer>
</section>

