<app-header></app-header>
<div *ngIf="showModal"> 
  <div class="investa-modal" (click)="hideModal()" >
  <div class="investa-modal-container">
    <div class="top"> <button (click)="hideModal()">&times;</button></div>
    <div class="investa-modal-info">
        <p>{{errorMessage}}</p>
    </div>
      
  </div>
  </div>
</div>

<section>
  <div *ngIf="loading" class="loading-div">
    <div class="loading-inner"></div>

</div>

  <div class="login-container">
    <div class="investa">
        <h1>INVESTA</h1>
        <p class="slogan">Connecting SMEs to investors</p>
    </div>
    <div class="login-form">
        <h2>Verify Password Reset</h2>
        <form novalidate 
              [formGroup]="resetConfirmForm"
              (ngSubmit)="onSubmit()">
          <div class="form-item"
            [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched),
            'has-success': email.valid && (email.touched || email.dirty)
            }"
          >
            <label for="email">Email <span>*</span></label>
            <input type="email" 
            name="email" 
            required
            formControlName="email"
            id="email" 
            placeholder="email">
              <div class="form-control-feedback"
              *ngIf="email.errors && (email.touched || email.dirty)">
              <p *ngIf="email.errors.required">Email Cannot be Blank</p>
              <p *ngIf="email.errors.pattern">A valid email is required</p>
            </div>
          </div>

          <div class="form-item"
            [ngClass]="{'has-danger': password.invalid && (password.touched || password.dirty),
                'has-success': password.valid && (password.touched || password.dirty)
              }"
          > 
            <label for="password">Password <span>*</span></label>
            <input type="password" 
            name="password" 
            id="password"
            required
            formControlName="password" 
            placeholder="********">
            <div class="form-control-feedback"
            *ngIf="password.errors && (password.touched || password.dirty)" 
            >
              <p *ngIf="password.errors.required">Password is Required</p>
              <p *ngIf="password.errors.minlength">Password Strenght is weak</p>
              <p *ngIf="password.errors.pattern">Your password must be at least 6 characters long and contain a lowercase letter, an uppercase letter, a numeric digit and a special character.</p>
          </div>
        </div>
          
          <div class="form-item" 
            [ngClass]="{'has-danger': confirmPassword.value == '' && password.value != confirmPassword.value  &&  (confirmPassword.touched || confirmPassword.dirty ), 
              'has-success':  password.value == confirmPassword.value  && (confirmPassword.touched || confirmPassword.dirty) }"
          >
            <label for="confirmPassword">Confirm Password <span>*</span></label>
            <input type="password" 
            name="confirmPassword" 
            id="confirmPassword" 
            required
           formControlName="confirmPassword"
            placeholder="********">
          </div>
          <div class="form-control-feedback"
          *ngIf="password.value != confirmPassword.value"
          >
          <p class="danger">Password Mismatch</p>
          </div>

          <div class="form-item">
             <button 
             class="btn reg-btn">CONFIRM</button>
          </div>
        </form>
    </div>
</div>
<app-footer>
</app-footer>
</section>
