<section>
    <app-side-bar>
  </app-side-bar> 
  <div class="projects-container">
    <div class="header">
      <a href="/add-milestone" class="new-milestone"> <i class="fas fa-plus"></i> </a>
      <h4>Projects  Milestones</h4>  
    </div>
    <p>{{lento}}% Completed</p>
    <div class="completed-percent">
    <div class="inner-level" [ngStyle]="{'width': lento + '%'}"></div>
    </div>
      <table class="project-table">
          <tr>
             <td>#</td>
            <td>Name</td>
            <td>Description</td>
            <td>Amount</td>
            <td>Duration</td>
            <td>Project</td>
            <td>Status</td>
            <!-- <td>Completion Level</td> -->
          </tr>
          <tr *ngFor="let i = index let milestone of milestones">
            <td>{{i+1}}</td>
             <td>{{milestone.name}}</td>
             <td>{{milestone.description}}</td>
              <td>{{milestone.amount}}</td>
             <td>{{milestone.duration}}</td>
             <td>{{milestone.projectID}}</td>
             <td class="{{milestone.status}}">{{milestone.status | titlecase}}</td>
             <!-- <td class="{{milestone.status}}"><button>Start</button></td> -->
           </tr>
           
           <tr >
             <td>Total</td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td>Total amount</td>
             <td>{{total}}</td>
           </tr>
        </table>
  </div> 
  </section>
  