@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-size: 62.5%;
}
html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3 {
    color: #F81F01;
}