<app-header></app-header>
<div *ngIf="showModal"> 
  <div class="investa-modal" (click)="hideModal()" >
  <div class="investa-modal-container">
    <div class="top"> <button (click)="hideModal()">&times;</button></div>
    <div class="investa-modal-info">
        <p>{{errorMessage}}</p>
    </div>
      
  </div>
  </div>
</div>

<section>
  <div *ngIf="loading" class="loading-div">
    <div class="loading-inner"></div>

</div>

  <div class="login-container">
    <div class="investa">
        <h1>INVESTA</h1>
        <p class="slogan">Connecting SMEs to investors</p>
    </div>
    <div class="login-form">
        <h2>Password Reset Request</h2>
        <form novalidate 
              [formGroup]="resetResquestForm"
              (ngSubmit)="onSubmit()">
          <div class="form-item"
            [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched),
            'has-success': email.valid && (email.touched || email.dirty)
            }"
          >
            <label for="email">Email <span>*</span></label>
            <input type="email" 
            name="email" 
            required
            formControlName="email"
            id="email" 
            placeholder="email">
              <div class="form-control-feedback"
              *ngIf="email.errors && (email.touched || email.dirty)">
              <p *ngIf="email.errors.required">Email Cannot be Blank</p>
              <p *ngIf="email.errors.pattern">A valid email is required</p>
    
            </div>
          </div>

          <div class="form-item">
             <button 
             class="btn reg-btn">RESET</button>
          </div>
        </form>
    </div>
</div>
<app-footer>
  
</app-footer>

</section>
