<section>
  <app-side-bar>
</app-side-bar> 
<div class="projects-container">
    <h4>Projects</h4>   
    <table class="project-table">
        <tr>
           <td>#</td>
          <td>Project Name</td>
          <td>Date Created</td>
          <td># of Milestones</td>
          <td>Status</td>
          <td>Completion Level</td>
        </tr>
        <tr>
            <td>1</td>
           <td>Get New Shop</td>
           <td>26/10/2020</td>
           <td>13</td>
           <td class="inprogress">In Progress</td>
           <td class="inprogress">80%</td>
         </tr>
         <tr>
            <td>2</td>
           <td>Get New Shop</td>
           <td>26/10/2020</td>
           <td>13</td>
           <td class="pending">Pending</td>
           <td class="pending">10%</td>
         </tr>
         <tr>
            <td>3</td>
           <td>Get New Shop</td>
           <td>26/10/2020</td>
           <td>13</td>
           <td class="completed">Completed</td>
           <td class="completed">100%</td>
         </tr>
         <tr>
            <td>4</td>
           <td>Get New Shop</td>
           <td>26/10/2020</td>
           <td>13</td>
           <td class="completed">Completed</td>
           <td class="completed">100%</td>
         </tr>
         <tr>
            <td>5</td>
           <td>Get New Shop</td>
           <td>26/10/2020</td>
           <td>13</td>
           <td class="inprogress">In Progress</td>
           <td class="inprogress">80%</td>
         </tr>
      </table>
</div> 
</section>
