<section class="beneficiaries">
  <div class="heading-section">
    <h2>Beneficiaries</h2>
    <p>Here is a list of the top latest SMEs who have raised money in the past one week. </p>
  </div>
  <div class="items-container">
    <div class="card">
      <div class="card-image">
        <img src="" alt="">
      </div>
      <div class="card-content">
        <h4 class="company">Facebook</h4>
        <h3>Raised $300,000</h3>
        <p>One of the fastest growing startup in education raised $300,00 in one month</p>
        <a href="/view" class="invest"></a>
      </div>
    </div>
  </div>
</section>