<section class="how-works">
  <div class="how-container">
    <div class="how-items">
      <h2>How it Works</h2>
      <p>
        Are you an SME looking for how to get funded? You have the killer business ideas but lack the source to move your project to the next level?
        Join <span>Investa</span> today. We Bridge the gap between an SME and your potential investors.  
      </p>
      <p>Getting funds is easy with Investa. But first you need to create an account if you dont have one </p>
      <a class="get-started-button" href="/SignUp">Get Started</a>
    </div>
    </div>
  <div class="how-icons-container">
    <div class="item-wrapper">
      <div class="how-item">
      <img src="../../../assets/images/signup.svg" alt="">
      <h3>Sign Up</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium laudantium rem aut asperiores.</p>
    </div>
    <div class="how-item">
      <img src="../../../assets/images/submit.svg" alt="">
      <h3>Submit Project</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium laudantium rem aut asperiores.</p>
    </div>
    </div>
    
    <div class="item-wrapper">
       <div class="how-item">
      <img src="../../../assets/images/create.svg" alt="">
      <h3>Create Project</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium laudantium rem aut asperiores.</p>
    </div>
    <div class="how-item">
      <img src="../../../assets/images/money.svg" alt="">
      <h3>Get Funded</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium laudantium rem aut asperiores.</p>
    </div>
    </div>
   
  </div>
</section>