<section>
  <app-side-bar>
</app-side-bar> 
<div class="projects-container">
    <h4> Create new Project</h4>
     <form action="" class="wrapper" [formGroup]="projectFormData" (ngSubmit)="postProject(projectFormData)" >
       <div class="main-content">
         <div class="form-item">
           <label for="project-title"> Project Title</label>
            <input formControlName="projectName" type="text" name="project-title" id="">
         </div>
         <div class="form-item">
           <label for="project-details">Briefly Describe your Project. </label>
           <textarea formControlName="projectDescription" name="project-details" id="project-details" cols="30" rows="10"></textarea>
         </div>
       
       </div>
       <div class="toolbar">
        <div class="form-item"> 
          <label for="project Duration">How long is the estimated duration of your project?</label>
         <select formControlName="projectDuration" name="project-duration" id="project-duration">
         <option value="one-month"> One Month</option>
         <option value="three-months">Three Months</option>
         <option value="six-months"> Six Months</option>
         <option value="one-year">One Year</option>
       </select>
        </div>
        <div class="form-item">
                <!-- <input type="date" name="project-duration" id="project-duration"> -->
          <label for="amount"> How much in USD would you need?</label>
          <input formControlName="amountNeeded" type="text" name="amount" id="amount">
        </div>
        <div class="form-item">
          <button>Create Project</button>
        </div>
    
       </div>
       
       <!-- <ckeditor [editor]="Editor" class="editor-1"></ckeditor> -->
     </form>
</div> 
</section>
